
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: .5px solid blue;    

}

body {
    display: flex;
    flex-wrap: wrap;
}

.main-container {
    padding: 5px;
}

.top-bar {
    display: flex;
    flex-wrap: wrap;
}

.top-bar p {
    align-items: end;

}