
* {
    margin: 0;
    padding: 20px;
    font-family: math;
    align-items: center;    

}

body {
    display: flex;
    flex-wrap: wrap;
    height: 100vh;
    background-color: rgb(205 200 200);
      
}

.main-container {
    padding: 5px;
    height: 100vh;
    width: -webkit-fill-available;
}

.top-bar {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 10px;
    font-size: 1.5rem;
}

button {
    font-size: 1.5rem;
    color: darkgreen;
    border-radius: 1rem;
}

.timer {
    background-color: white;
}

button:hover {
    cursor: pointer;
    background-color: powderblue;
    transition: .5s;
}

.top-bar p {
    color: darkgreen;
    border: solid 2px;
    border-radius: 1rem;
    border-style: outset;
    border-color: buttonborder;
    border-image: initial;
}

.quiz-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    height: 80vh;
    border: inset 2rem;
    border-color: cadetblue;
    margin: 40px;
    font-size: 1.5rem;
}

.quiz-intro {
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: center;

}

#introduction h1 {
    display: flex;
    border: inset;
    border-radius: 1rem;
    border-width: 1rem;
    border-color: cadetblue;
}


.quiz-questions {
    font-size: 2.5rem;

}

.start-btn {
    justify-content: center;
}

#initials {
    font-size: 2rem;
    border: 1px solid;
    margin-right: 25px;

}

.leaderboard {
    font: 5rem bold;
    border: inset;
    border-radius: 1rem;
    border-width: 1rem;
    border-color: cadetblue;
      
}

#highscore {
    display: grid;
    justify-content: center;

}